<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/styles/style.css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.3/ace.js"></script>
  {{!-- <script src="./js/main.js"></script> --}}
  <title>Home Page</title>
</head>
<body>
    {{{body}}}
  <script>

var searchQuery = "";

$(".search-box").on("submit", function(event) {
  event.preventDefault();
  searchQuery = $("#searchMain").val().trim();
  sessionStorage.setItem("search", searchQuery);
  location.replace("/youtube?search=" + searchQuery);
});

$(".sideBtn").on("click", function(event){
  event.preventDefault();
  var sideValue = $(this).val();
  console.log(sideValue);
  var searchQuery = sessionStorage.getItem("search");

  switch(sideValue)
  {
    case "profile":
    break;
    case "youtube":
    console.log(searchQuery);
    location.replace("/youtube?search=" + searchQuery);
    break;
    case "reddit":
    break;
    case "codepen":
    break;
    case "slack":
    break;
    case "faves":
    break;
  }
});

$(".btn2").on("click", function() {
  $(".btn2").toggleClass("btnc");
  $(".side-bar").toggleClass("side");
});

$(".searchbtn").on("click", function (event) {
  event.preventDefault();
  searchQuery = $("#searchbox").val().trim();
  sessionStorage.setItem("search", searchQuery);
  location.replace("/youtube?search=" + searchQuery);
});

$(".viewBtn").on("click",function(event)
{
  event.preventDefault();
  var idVideo = $(this).val();
  console.log($(this).val());
  location.replace("/video?id=" + idVideo);
});

$(".goBack").on("click",function(event){
  event.preventDefault();
  var searchQuery = sessionStorage.getItem("search");
  location.replace("/youtube?search=" + searchQuery);
});
  </script>
</body>
</html>