<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/styles/style.css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.3/ace.js"></script>
  {{!-- <script src="./js/main.js"></script> --}}
  <title>codeRed</title>
</head>

<body>

  <div class="mainPage">
    <div class="side-bar">
      <ul>
        <li><button class="icon ion-md-person sideBtn" value="profile"></button></li>
        <li><button class="icon ion-logo-youtube sideBtn" value="youtube"></button></li>
        <li><button class="icon ion-logo-reddit sideBtn" value="reddit"></button></li>
        <li><button class="icon ion-md-create sideBtn" value="code"></button></li>
        <li><button class="icon ion-md-filing sideBtn" value="stack"></button></li>
        <li><button class="icon ion-md-bookmark sideBtn" value="faves"></button></li>
      </ul>
    </div>
    <div class="btn2"></div>

    <div class="row justify-content-sm-center">
      <form class="form-inline my-2 my-lg-0 mysearch">
        <input class="form-control mr-lg-2" type="search" id="searchbox" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0 searchbtn" type="submit">Search</button>
      </form>
    </div>
    {{{body}}}
  </div>
  <script>

    var searchQuery = "";

    $(".sideBtn").on("click", function (event) {
      event.preventDefault();
      var sideValue = $(this).val();
      var searchQuery = sessionStorage.getItem("search");

      switch (sideValue) {
        case "profile":
        $.get("/api/user_data",function(data)
        {
          location.replace("/users/" + data.id);
        });
        
          break;
        case "youtube":
          location.replace("/youtube?search=" + searchQuery);
          break;
        case "reddit":
          location.replace("/reddit?search=" + searchQuery);
          break;
        case "code":
          location.replace("/editor");
          break;
        case "stack":
        location.replace("/stackoverflow?search=" + searchQuery);
          break;
        case "faves":
        $.get("/api/user_data",function(data)
        {
          location.replace("/users/" + data.id +"/favorites");
        });
        
          break;
      }
    });

    $(".btn2").on("click", function () {
      $(".btn2").toggleClass("btnc");
      $(".side-bar").toggleClass("side");
    });
    
    function stringContainsImg(str)
    {
      var checkString = str;

      if(checkString.contains(".jpg") || checkString.contains(".png"))
      {
        return true;
      }else{
        return false;
      }
    };

    $(".searchbtn").on("click", function (event) {
      event.preventDefault();
      searchQuery = $("#searchbox").val().trim();
      sessionStorage.setItem("search", searchQuery);
      location.replace("/youtube?search=" + searchQuery);
    });

    $(".faveIt").on("click",function(event){
     
     var vidID = $(this).val();
     faveTitle = $(".dataTitle").text();
     console.log(vidID);
     console.log(faveTitle);

    });

    $(".viewBtn").on("click", function (event) {
      event.preventDefault();
      var idVideo = $(this).val();
      console.log($(this).val());
      location.replace("/video?id=" + idVideo);
    });

    $("#goBack").on("click", function (event) {
      event.preventDefault();
      var searchQuery = sessionStorage.getItem("search");
      location.replace("/youtube?search=" + searchQuery);
    });

    $(".faveIt").on("click",function(event){

    })
    $("#codeIt").on("click", function () {
      $("#codeDiv").toggle()
    })
    let editor = $("#editor")
    function update() {
      var idoc = document.getElementById('iframe') || document.getElementById('iframeMini');
      idoc = idoc.contentWindow.document
      idoc.open();
      idoc.write(editor.getValue());
      idoc.close();
    }
    function setupEditor() {
      editor = ace.edit("editor");
      editor.setTheme("ace/theme/monokai");
      editor.getSession().setMode("ace/mode/html");
      editor.setValue(`<!DOCTYPE html>
<html>
<head>

</head>
<body>

</body>
</html>`, 1); //1 = moves cursor to end
      editor.getSession().on('change', function () {
        update();
      });
      editor.focus();
      editor.setOptions({
        fontSize: "16pt",
        showLineNumbers: false,
        showGutter: false,
        vScrollBarAlwaysVisible: true,
      });
      editor.setShowPrintMargin(false);
      editor.setBehavioursEnabled(true);
    }
    setupEditor()



  </script>
</body>

</html>