<div class="container editorContainer">
<h1 class="editorText"><u>Welcome to the Code Sandbox</u></h1>
<p class="editorText">Want to try out some new code snippet and see it on screen?</p>
<p class="editorText">Use the editor below to play around with new code and see your results</p>
</div>
 <div class="container">
        <div class="row" id="codeDiv">
                <div class="col-sm-6">
                    <div id="editor"></div>
                </div>

                <div class="col-sm-6">
                <iframe id="iframe"></iframe>
                </div>

                </div>
                </div>