<div class="frontPage">
    <div class="landing-page">
      <div class="page-content">
        <h1>Welcome to codeRed!</h1>
        <p>Use the search below to find help with any coding troubles you may have.</p>
        <div class="row justify-content-center">
          <form class="search-box" autocomplete="off">
            <input class="search-txt" type="text" id = "searchMain" name="" placeholder="Let's Search!">
            <button type="submit" class="search-btn fas fa-search"></button>
          </form>
        </div>
      </div>
    </div>
  </div>