<!DOCTYPE <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../public/styles/style.css" media="screen" title="no title" charset="utf-8">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.3/ace.js"></script>
        {{!-- <script src="./js/main.js"></script> --}}
        <title>Home Page</title>
      </head>
<body>
    <div class="container">
        <div class="row">
            <form class="col-md-5 loginBox">
                <h1 class="text-center loginH">Sign In</h1>
                <label class="label control-label">Username or Email</label>
                <div class="input-group">
                    <span class="input-group-addon"><span class="icon ion-md-person"></span></span>
                    <input type="text" class="form-control" name="email" id="email-input" placeholder="Username or Email">
                </div>
                <label class="label control-label">Password</label>
                <div class="input-group">
                    <span class="input-group-addon"><span class="icon ion-md-lock"></span></span>
                    <input type="password" class="form-control" name="password" id="password-input" placeholder="Password">
                </div>
              <div class="row">
                  <div class="col-md-6">
                <input type="checkbox"><small>Remember Me</small>
                  </div>
                  <div class="col-md-6">
                  <a href="#"><p class="text-right">Forgot Password?</p></a>
                </div>
              </div>

             <a href="#"><div class="btn btn-default">Sign In</div></a>
             <p class="text-center">Not a member? <a href="#"> Sign Up!</a></p>
            </form>
            <div class="col-md-2">
    
            </div>
            <form class="col-md-5 loginBox">
             <h2 class="text-center signBox">Sign Up</h2>
             <label class="label control-label">Name</label>
             <div class="input-group">
                <span class="input-group-addon"><span class="icon ion-md-person"></span></span>
                <input type="text" class="form-control" name="Name" id="username-input" placeholder="Full Name">
             </div>
             <label class="label control-label">Email</label>
             <div class="input-group">
                <span class="input-group-addon"><span class="icon ion-md-mail"></span></span>
                <input type="email" class="form-control" id="email-input" name="Email" placeholder="Email">
             </div>
             <label class="label control-label">Password</label>
             <div class="input-group">
                <span class="input-group-addon"><span class="icon ion-md-lock"></span></span>
                <input type="password" class="form-control" name="password" id="password-input" placeholder="Password">
             </div>
             <label class="label control-label">Retype Password</label>
             <div class="input-group">
                <span class="input-group-addon"><span class="icon ion-md-lock"></span></span>
                <input type="password" class="form-control" name="retype password" placeholder="Retype Password">
             </div>
             <a href="#"><div class="btn btn-default">Sign Up</div></a>
            </form>
        </div>
    </div>
</body>
</html>