 <div class="row">
            <form class="col-md-5 loginBox">
                <h1 class="text-center loginH">Sign In</h1>
                <label class="label control-label">Username or Email</label>
                <div class="input-group">
                    <span class="input-group-addon"><span class="icon ion-md-person"></span></span>
                    <input type="text" class="form-control" name="email" id="email-input" placeholder="Username or Email">
                </div>
                <label class="label control-label">Password</label>
                <div class="input-group">
                    <span class="input-group-addon"><span class="icon ion-md-lock"></span></span>
                    <input type="password" class="form-control" name="password" id="password-input" placeholder="Password">
                </div>
              <div class="row">
                  <div class="col-md-6">
                <input type="checkbox"><small>Remember Me</small>
                  </div>
                  <div class="col-md-6">
                  <a href="#"><p class="text-right">Forgot Password?</p></a>
                </div>
              </div>

             <a href="#"><div class="btn btn-default">Sign In</div></a>
             <p class="text-center">Not a member? <a href="#"> Sign Up!</a></p>
            </form>