<div class="row justify-content-md-center">
    <form class="col-md-5 loginBox signup" autocomplete="off">
             <h2 class="text-center signBox">Sign Up</h2>
             <p id="warning">Incorrect Login Credentials</p>
             <label class="label control-label">Username</label>
             <div class="input-group">
                <span class="input-group-addon"><span class="icon ion-md-person"></span></span>
                <input type="text" class="form-control" name="Username" id="username-input" placeholder="Username">
             </div>
             <label class="label control-label">Email</label>
             <div class="input-group">
                <span class="input-group-addon"><span class="icon ion-md-mail"></span></span>
                <input type="email" class="form-control" id="email-input" name="Email" placeholder="Email">
             </div>
             <label class="label control-label">Password</label>
             <div class="input-group">
                <span class="input-group-addon"><span class="icon ion-md-lock"></span></span>
                <input type="password" class="form-control" name="password" id="password-input" placeholder="Password">
             </div>
             <label class="label control-label">Retype Password</label>
             <div class="input-group">
                <span class="input-group-addon"><span class="icon ion-md-lock"></span></span>
                <input id="password-confirm-input" type="password" class="form-control" name="retype-password" placeholder="Retype Password">
             </div>
             <button type="submit" class="btn btn-default">Sign Up</button>
            </form>
</div>

<script src="js/signup.js"></script>