<div class="row">
    <form class="col-md-5 loginBox">
             <h2 class="text-center signBox">Sign Up</h2>
             <label class="label control-label">Name</label>
             <div class="input-group">
                <span class="input-group-addon"><span class="icon ion-md-person"></span></span>
                <input type="text" class="form-control" name="Name" id="username-input" placeholder="Full Name">
             </div>
             <label class="label control-label">Email</label>
             <div class="input-group">
                <span class="input-group-addon"><span class="icon ion-md-mail"></span></span>
                <input type="email" class="form-control" id="email-input" name="Email" placeholder="Email">
             </div>
             <label class="label control-label">Password</label>
             <div class="input-group">
                <span class="input-group-addon"><span class="icon ion-md-lock"></span></span>
                <input type="password" class="form-control" name="password" id="password-input" placeholder="Password">
             </div>
             <label class="label control-label">Retype Password</label>
             <div class="input-group">
                <span class="input-group-addon"><span class="icon ion-md-lock"></span></span>
                <input type="password" class="form-control" name="retype password" placeholder="Retype Password">
             </div>
             <a href="#"><div class="btn btn-default">Sign Up</div></a>
            </form>
</div>