<div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <div class="user-card text-center">
                    <div class="user-header"> </div>
                    <div class="profile-pic">
                        <img src="../styles/placeholder.png" alt="Default Grey User Image">
                    </div>
                    <div class="user-data">
                        <div class="user-info">
                            <h2>{{info.username}}</h2>
                            <h3>{{info.displayname}}</h3>
                            <p>{{info.blurb}}</p>
                        </div>
                        <div class="user-faves">
                            <h3>Saved Favorites</h3>
                            <a href="#" class="color1">
                                <i class="icon ion-logo-youtube"></i>
                            </a>
                            <a href="#" class="color2">
                                <i class="icon ion-logo-reddit"></i>
                            </a>
                            <a href="#" class="color3">
                                <i class="icon ion-md-filing"></i>
                            </a>
                            <a href="#" class="color4">
                                <i class="icon ion-md-create"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>