<div class="container titleContainer">
<h1 class="titleText"><u>Expanded Video</u></h1>
<p class="titleText">To practice any code seen in the video below, press the "Code it Out" button.</p>
<p class="titleText">To return to your search results, press the "Back to Results" button.</p>
</div>
<div class="col-sm-6 offset-sm-3">
 <div class="video-area">
<iframe width="610" height="365" src="https://www.youtube.com/embed/{{id}}"
frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; 
picture-in-picture" allowfullscreen></iframe>
<div class="btn-group">
<button class="btn btn-primary vidbtn" id="codeIt">Code it out</button>
<button class="btn btn-primary vidbtn" id="goBack">Back to Results</button>
</div>
</div>
</div>


<div class="codeDivMini" id="codeDiv">
<div class="col-sm-4 offset-sm-2">
    <div class="editorMini" id="editor"></div>
</div>

<iframe class="iframeMini" id="iframeMini"></iframe>

</div>