body,html {
    margin:0;
    padding:0;
    width:100%;
    font-family: sans-serif;
    background:url(../styles/bg01.jpg) no-repeat;
    background-size:cover;
    overflow-x: hidden;
}

/* Landin Page Css */

.search-box{
    position: inherit;
    top: 50%;
    left: 50%;
    background: blue;
    height:60px;
    border-radius: 40px;
    padding:10px;
    
    }
    
    .search-btn{
        color:rgb(56, 181, 223);
        float:right;
        width:40px;
        height:40px;
        border-radius: 50%;
        background:blue;
        display:flex;
        justify-content: center;
        align-items:center;
        transition:0.4s;
        
    }
    
    .search-box:hover > .search-txt{
        width: 400px;
        padding: 0 6px;
    }
    
    .search-box:hover > .search-btn{
        background:white;
    }
    .search-txt{
        border:none;
        background:none;
        outline:none;
        float:left;
        padding:0;
        color:white;
        font-size:16px;
        transition:0.4s;
        line-height: 40px;
        width:0px;
    
    }
    
    
    .landing-page{
        width: 100%;
        height:100vh;
        background:#000;
        position: relative;
        overflow: hidden;
    }
    
    .landing-page::after{
        content:"";
        position: absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        background:url(bg01.jpg) no-repeat;
        background-size:cover;
        opacity: .3;
        animation: anim 25s linear infinite;
    }
    
    @keyframes anim{
        50%{
            transform: scale(2);
        }
        100%{
            transform: scale(1);
        }
    }
    
    .page-content{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        z-index: 1;
        width: 100%;
        max-width: 800px;
        text-align: center;
        padding: 0 40px;
        box-sizing: border-box;
    }
    .page-content p{
        color:white;
    }
    .page-content h1{
        color:rgb(56, 181, 223);
        text-transform: uppercase;
        font-size: 50px;
        font-weight: 900;
        margin-bottom: 20px;
    }


/* Main Page Css */
.side-bar{
    float:left;
    width:100px;
    height:100%;
    margin-left:-100px;
    background: rgb(56, 181, 223);
    overflow: hidden;
    transition: 0.8s all;
}

.side{
    margin-left:0px;
}
.side-bar ul{
    margin:0;
    padding:0;
}

.side-bar ul li{
    list-style: none;

}

.side-bar ul li .sideBtn{
    text-decoration: none;
    color:white;
    height:80px;
    width:100%;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    display:inline-block;
    transition: 0.6s all;
    background-color:transparent;
}

.side-bar ul li .sideBtn:hover{
    background:blue;

}

.mysearch{
    padding: 10px;
}
.btn2{
    float:left;
    padding: 0 10px;
    font-size: 40px;
    text-decoration: none;
    color: rgb(56, 181, 223);
    font-family:Ionicons;
    cursor: pointer;
}

.btn2::before{
  content:'\f32a';
}

.btnc::before{
  content:'\f2c0';
}

.tubeCard{
    margin: 10px;
    background:#f5a148;
    padding:5px;
    height:550px;
}

/* Video Css */

.video-area{
margin:20px;
}
.vidbtn{
    margin:10px;
}

.editorArea{
    display:hidden;
}

/* Reddit CSS */

.redditCard{
    margin:10px;
}

.card-header{
    background-color:#f5a148;
}

.card-footer{
    background-color:#f5a148;
}

/* Code Editor */

#editor {
    width: 100%;
    padding: 25%;
    float: left;
}

#iframe {
    width:30%;
    background-color:white;
    float:left;
}
#codeDiv {
    display:none;
    width:100%;
}

/* Login Page */
.loginH{
    font-size: 50px;
    color:white;
    margin-top: 30px;
    margin-bottom: 60px;
}

.loginBox{
    background: rgba(0,0,0,0.8);
    margin-top:40px;
    color:white;
}

.label{
    font-size: 20px;
    font-weight: normal;
}
.input-group{
    margin-top:10px;
    margin-bottom:20px;
}

.input-group-addon{
    background:transparent;
    border-radius: 0px;
    border:0px;
    border-bottom: 1px solid white;
    font-size: 18px;
    color:gray;
}

.form-control, .form-control:focus{
    background:transparent;
    border-radius: 0px;
    border:0px;
    border-bottom: 1px solid white;
    padding:15px;
    color:white;
    font-size:21px;
}

input [type="checkbox"]{
    height:15px;
    width:15px;
}

small {
    font-size: 18px;
    color:white;
}

.btn-default{
    border-radius: 0px;
    width:100%;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom:30px;
    background: blue;
    color:white;
}

.signBox{
    font-size: 30px;
    color:white;
}

form .icon {
    font-size: 36px;
}

#warning {
    display: none;
    color: red;
}